.customers {
    display: flex;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 12px;
    flex-wrap: wrap;

}

.customer {
    padding: 10px;
    background-color: aquamarine;
    border-radius: 12px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}